/* REUSABLE COMPONENTS STYLE */
@import "variables.css";

.cardGroup {
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

.ixiCard {
    width: 100%;
    background: var(--colors-surface-01);
    border-radius: var(--corner-radius-lg);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--colors-outline-01);
    gap: 24px;

    @media (max-width: 375px) {
       flex-wrap: wrap;
    }
}

.alertContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
    width: 100%;
    background: var(--colors-surface-02);

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.alertCardWarning {
    width: 100%;
    max-width: 620px;
    background: var(--colors-surface-warning);
    border-radius: var(--corner-radius-xs);
    padding: 12px 16px;
    border: 1px solid var(--colors-outline-warning);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--colors-text-01);

    @media (max-width: 768px) {
        max-width: unset;
    }
}