
.largehash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




#tblocks td:nth-child(2) {
  max-width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#ttx td:nth-child(2) {
  max-width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.emissions-list li {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

