@import "variables.css";

.header {
    background: var(--colors-surface-inverse);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px !important;
    border-bottom: 1px solid var(--colors-outline-inverse);
}

.headerUl {
    justify-content: flex-end;
    gap: 40px;

    @media (max-width: 1024px) {
        gap: 8px;
    }
}

.headerItem {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--colors-text-inverse);

    &:hover {
        text-decoration: none;
        color: var(--colors-text-02)
    }
}

.navSearchMobile{
    padding: 8px;
    @media (min-width: 992px) {
        display: none;
    }
}

.navSearchInput{
    width: 100%;
    display: flex;
    gap: 8px;
    max-height: 48px;

    input{
        padding: 4px 8px !important;
        font-size: 14px;
    }

    button{
        padding: 8px;
        gap: 4px;
    }
}
