@import "compontents.css";
@import "utils.css";

.inputContainer {
    width: 100%;
    max-width: 700px;
    display: flex;
    gap: 8px;
}

.home-search {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-bottom: 64px;
}

.blocks-wrapper {
    width: 100%;
    min-height: 624px;
    background: var(--colors-surface-01);
    padding: 48px 16px;
}

.blocks-wrapper-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.what-are-blocks {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-text-action);
}