/* DARK MODE VARIABLES */
:root.dark-mode {
    --colors-text-01: var(--color-neutral-50);
    --colors-text-02: var(--color-neutral-400);
    --colors-text-action: var(--color-primary-200);
    --colors-text-action-hover: var(--color-primary-100);
    --colors-text-action-pressed: var(--color-primary-50);
    --colors-text-disabled: var(--color-neutral-600);
    --colors-text-info: var(--color-accent-400);
    --colors-text-success: var(--color-success-400);
    --colors-text-warning: var(--color-warning-400);
    --colors-text-error: var(--color-error-400);
    --colors-text-on-action: var(--color-neutral-1000);
    --colors-text-on-disabled: var(--color-neutral-500);
    --colors-surface-01: var(--color-neutral-1000);
    --colors-surface-02: var(--color-neutral-950);
    --colors-surface-03: var(--color-neutral-900);
    --colors-surface-04: var(--color-neutral-800);
    --colors-surface-action: var(--color-primary-200);
    --colors-surface-action-hover: var(--color-primary-300);
    --colors-surface-action-pressed: var(--color-primary-400);
    --colors-surface-disabled: var(--color-neutral-800);
    --colors-surface-info: var(--color-accent-800);
    --colors-surface-success: var(--color-success-900);
    --colors-surface-warning: var(--color-warning-900);
    --colors-surface-error: var(--color-error-800);
    --colors-surface-brand-primary: var(--color-primary-100);
    --colors-surface-brand-secondary: var(--color-secondary-900);
    --colors-icon-01: var(--color-neutral-400);
    --colors-icon-action: var(--color-primary-200);
    --colors-icon-info: var(--color-accent-400);
    --colors-icon-disabled: var(--color-neutral-600);
    --colors-icon-success: var(--color-success-400);
    --colors-icon-warning: var(--color-warning-400);
    --colors-icon-error: var(--color-error-400);
    --colors-outline-01: var(--color-neutral-900);
    --colors-outline-02: var(--color-neutral-800);
    --colors-outline-03: var(--color-neutral-700);
    --colors-outline-action: var(--color-primary-200);
    --colors-outline-disabled: var(--color-neutral-600);
    --colors-outline-success: var(--color-success-400);
    --colors-outline-warning: var(--color-warning-400);
    --colors-outline-error: var(--color-error-400);
    --colors-surface-inverse: var(--color-neutral-950);
    --colors-surface-info-inverse: var(--color-accent-400);
    --colors-surface-success-inverse: var(--color-success-500);
    --colors-surface-warning-inverse: var(--color-warning-600);
    --colors-surface-error-inverse: var(--color-error-500);
    --colors-icon-inverse: var(--color-neutral-100);
    --colors-icon-action-hover: var(--color-primary-100);
    --colors-icon-action-pressed: var(--color-primary-50);
    --colors-icon-on-action: var(--color-neutral-1000);
    --colors-icon-on-disabled: var(--color-neutral-500);
    --colors-text-inverse: var(--color-neutral-100);
    --colors-outline-inverse: var(--color-neutral-800);
    --colors-outline-action-hover: var(--color-primary-100);
    --colors-outline-action-pressed: var(--color-primary-50);
    --colors-surface-inverse-2: var(--color-neutral-300);
    --colors-text-inverse-2: var(--color-neutral-300);
    --colors-icon-inverse-2: var(--color-neutral-800);
    --colors-outline-inverse-2: var(--color-neutral-300);
    --colors-icon-02: var(--color-neutral-400);
    --colors-text-brand-primary: var(--color-primary-100);
    --colors-icon-brand-primary: var(--color-primary-100);
    --colors-outline-brand-primary: var(--color-primary-100);
    --colors-text-brand-secondary: var(--color-secondary-900);
    --colors-icon-brand-secondary: var(--color-secondary-900);
    --colors-outline-brand-secondary: var(--color-secondary-900);
}

/* DEFAULT (LIGHT MODE) VARIABLES */
:root {
    --colors-text-01: var(--color-neutral-1000);
    --colors-text-02: var(--color-neutral-700);
    --colors-text-action: var(--color-primary-600);
    --colors-text-action-hover: var(--color-primary-700);
    --colors-text-action-pressed: var(--color-primary-800);
    --colors-text-disabled: var(--color-neutral-400);
    --colors-text-info: var(--color-accent-600);
    --colors-text-success: var(--color-success-600);
    --colors-text-warning: var(--color-warning-600);
    --colors-text-error: var(--color-error-600);
    --colors-text-on-action: var(--color-neutral-50);
    --colors-text-on-disabled: var(--color-neutral-700);
    --colors-surface-01: var(--color-neutral-50);
    --colors-surface-02: var(--color-neutral-100);
    --colors-surface-03: var(--color-neutral-200);
    --colors-surface-04: var(--color-neutral-300);
    --colors-surface-action: var(--color-primary-500);
    --colors-surface-action-hover: var(--color-primary-600);
    --colors-surface-action-pressed: var(--color-primary-700);
    --colors-surface-disabled: var(--color-neutral-400);
    --colors-surface-info: var(--color-accent-300);
    --colors-surface-success: var(--color-success-100);
    --colors-surface-warning: var(--color-warning-100);
    --colors-surface-error: var(--color-error-100);
    --colors-surface-brand-primary: var(--color-primary-100);
    --colors-surface-brand-secondary: var(--color-secondary-300);
    --colors-icon-01: var(--color-neutral-900);
    --colors-icon-action: var(--color-primary-600);
    --colors-icon-info: var(--color-accent-600);
    --colors-icon-disabled: var(--color-neutral-400);
    --colors-icon-success: var(--color-success-600);
    --colors-icon-warning: var(--color-warning-600);
    --colors-icon-error: var(--color-error-600);
    --colors-outline-01: var(--color-neutral-300);
    --colors-outline-02: var(--color-neutral-400);
    --colors-outline-03: var(--color-neutral-500);
    --colors-outline-action: var(--color-primary-600);
    --colors-outline-disabled: var(--color-neutral-400);
    --colors-outline-success: var(--color-success-600);
    --colors-outline-warning: var(--color-warning-600);
    --colors-outline-error: var(--color-error-600);
    --colors-surface-inverse: var(--color-neutral-950);
    --colors-surface-info-inverse: var(--color-accent-700);
    --colors-surface-success-inverse: var(--color-success-700);
    --colors-surface-warning-inverse: var(--color-warning-700);
    --colors-surface-error-inverse: var(--color-error-700);
    --colors-icon-inverse: var(--color-neutral-100);
    --colors-icon-action-hover: var(--color-primary-700);
    --colors-icon-action-pressed: var(--color-primary-800);
    --colors-icon-on-action: var(--color-neutral-50);
    --colors-icon-on-disabled: var(--color-neutral-700);
    --colors-text-inverse: var(--color-neutral-100);
    --colors-outline-inverse: var(--color-neutral-800);
    --colors-outline-action-hover: var(--color-primary-700);
    --colors-outline-action-pressed: var(--color-primary-800);
    --colors-surface-inverse-2: var(--color-neutral-900);
    --colors-text-inverse-2: var(--color-neutral-300);
    --colors-icon-inverse-2: var(--color-neutral-300);
    --colors-outline-inverse-2: var(--color-neutral-700);
    --colors-icon-02: var(--color-neutral-600);
    --colors-text-brand-primary: var(--color-primary-100);
    --colors-icon-brand-primary: var(--color-primary-100);
    --colors-outline-brand-primary: var(--color-primary-100);
    --colors-text-brand-secondary: var(--color-secondary-300);
    --colors-icon-brand-secondary: var(--color-secondary-300);
    --colors-outline-brand-secondary: var(--color-secondary-300);
}

/* IXIAN VARIABLES */
:root {
    --scale-0: 0rem;
    --scale-100: 0.25rem;
    --scale-200: 0.5rem;
    --scale-300: 0.75rem;
    --scale-400: 1rem;
    --scale-500: 1.25rem;
    --scale-600: 1.5rem;
    --scale-700: 1.75rem;
    --scale-800: 2rem;
    --scale-1000: 2.5rem;
    --scale-1600: 4rem;
    --scale-2000: 5rem;
    --scale-50: 0.125rem;
    --scale-25: 0.0625rem;
    --scale-20000: 50rem;
    --color-brand-1000: #061108;
    --color-brand-950: #0e2511;
    --color-brand-900: #173b1c;
    --color-brand-800: #215028;
    --color-brand-700: #2c6635;
    --color-brand-600: #377e42;
    --color-brand-500: #449751;
    --color-brand-400: #50b05f;
    --color-brand-300: #5cc96d;
    --color-brand-200: #6ee17f;
    --color-brand-100: #a7f6ad;
    --color-brand-50: #f9fdf9;
    --color-purple-1000: #100317;
    --color-purple-950: #2f0c41;
    --color-purple-900: #47146c;
    --color-purple-800: #551980;
    --color-purple-700: #7125a7;
    --color-purple-600: #9943d6;
    --color-purple-500: #b475e1;
    --color-purple-400: #cb9eea;
    --color-purple-300: #ddc0f1;
    --color-purple-200: #e8d6f5;
    --color-purple-100: #f3ebf9;
    --color-purple-50: #fdfcfd;
    --color-grey-1000: #0a0f0c;
    --color-grey-950: #111712;
    --color-grey-900: #1d251d;
    --color-grey-800: #373937;
    --color-grey-700: #585a59;
    --color-grey-600: #7e817f;
    --color-grey-500: #a4a7a6;
    --color-grey-400: #c0c8c4;
    --color-grey-300: #d7e4de;
    --color-grey-200: #e7efea;
    --color-grey-100: #f3f7f4;
    --color-grey-50: #fbfcfb;
    --color-green-1000: #0a1005;
    --color-green-950: #15250b;
    --color-green-900: #1b3b0d;
    --color-green-800: #245011;
    --color-green-700: #306719;
    --color-green-600: #3d7e20;
    --color-green-500: #4a9729;
    --color-green-400: #57b031;
    --color-green-300: #69d13c;
    --color-green-200: #78e24a;
    --color-green-100: #a7f880;
    --color-green-50: #f9fef6;
    --color-orange-1000: #110e06;
    --color-orange-950: #27200f;
    --color-orange-900: #3e3212;
    --color-orange-800: #554418;
    --color-orange-700: #6d5721;
    --color-orange-600: #856c2b;
    --color-orange-500: #a08235;
    --color-orange-400: #b9973f;
    --color-orange-300: #d4ad49;
    --color-orange-200: #e2b950;
    --color-orange-100: #f6e1b6;
    --color-orange-50: #fdfcf9;
    --color-red-1000: #210406;
    --color-red-950: #420a16;
    --color-red-900: #660d24;
    --color-red-800: #891232;
    --color-red-700: #ad1a42;
    --color-red-600: #d42252;
    --color-red-500: #f73564;
    --color-red-400: #f86e81;
    --color-red-300: #f9969f;
    --color-red-200: #f9babe;
    --color-red-100: #f9ddde;
    --color-red-50: #fefcfc;
    --color-violet-1000: #080b2c;
    --color-violet-950: #0e1d51;
    --color-violet-900: #112f7d;
    --color-violet-800: #1640a8;
    --color-violet-700: #1f53d3;
    --color-violet-600: #245deb;
    --color-violet-500: #6c7ef7;
    --color-violet-400: #8e95f9;
    --color-violet-300: #abaefa;
    --color-violet-200: #c7c7f9;
    --color-violet-100: #e3e2fa;
    --color-violet-50: #fcfcfe;
    --scale-2500: 6.25rem;
    --scale-3000: 7.5rem;
    --color-primary-50: var(--color-brand-50);
    --color-primary-100: var(--color-brand-100);
    --color-primary-200: var(--color-brand-200);
    --color-primary-300: var(--color-brand-300);
    --color-primary-400: var(--color-brand-400);
    --color-primary-500: var(--color-brand-500);
    --color-primary-600: var(--color-brand-600);
    --color-primary-700: var(--color-brand-700);
    --color-primary-800: var(--color-brand-800);
    --color-primary-900: var(--color-brand-900);
    --color-primary-950: var(--color-brand-950);
    --color-primary-1000: var(--color-brand-1000);
    --color-neutral-50: var(--color-grey-50);
    --color-neutral-100: var(--color-grey-100);
    --color-neutral-200: var(--color-grey-200);
    --color-neutral-300: var(--color-grey-300);
    --color-neutral-400: var(--color-grey-400);
    --color-neutral-500: var(--color-grey-500);
    --color-neutral-600: var(--color-grey-600);
    --color-neutral-700: var(--color-grey-700);
    --color-neutral-800: var(--color-grey-800);
    --color-neutral-900: var(--color-grey-900);
    --color-neutral-950: var(--color-grey-950);
    --color-neutral-1000: var(--color-grey-1000);
    --color-secondary-50: var(--color-purple-50);
    --color-secondary-100: var(--color-purple-100);
    --color-secondary-200: var(--color-purple-200);
    --color-secondary-300: var(--color-purple-300);
    --color-secondary-400: var(--color-purple-400);
    --color-secondary-500: var(--color-purple-500);
    --color-secondary-600: var(--color-purple-600);
    --color-secondary-700: var(--color-purple-700);
    --color-secondary-800: var(--color-purple-800);
    --color-secondary-900: var(--color-purple-900);
    --color-secondary-950: var(--color-purple-950);
    --color-secondary-1000: var(--color-purple-1000);
    --color-accent-50: var(--color-violet-50);
    --color-accent-100: var(--color-violet-100);
    --color-accent-200: var(--color-violet-200);
    --color-accent-300: var(--color-violet-300);
    --color-accent-400: var(--color-violet-400);
    --color-accent-500: var(--color-violet-500);
    --color-accent-600: var(--color-violet-600);
    --color-accent-700: var(--color-violet-700);
    --color-accent-800: var(--color-violet-800);
    --color-accent-900: var(--color-violet-900);
    --color-accent-950: var(--color-violet-950);
    --color-accent-1000: var(--color-violet-1000);
    --color-error-50: var(--color-red-50);
    --color-error-100: var(--color-red-100);
    --color-error-200: var(--color-red-200);
    --color-error-300: var(--color-red-300);
    --color-error-400: var(--color-red-400);
    --color-error-500: var(--color-red-500);
    --color-error-600: var(--color-red-600);
    --color-error-700: var(--color-red-700);
    --color-error-800: var(--color-red-800);
    --color-error-900: var(--color-red-900);
    --color-error-950: var(--color-red-950);
    --color-error-1000: var(--color-red-1000);
    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);
    --color-success-950: var(--color-green-950);
    --color-success-1000: var(--color-green-1000);
    --color-warning-50: var(--color-orange-50);
    --color-warning-100: var(--color-orange-100);
    --color-warning-200: var(--color-orange-200);
    --color-warning-300: var(--color-orange-300);
    --color-warning-400: var(--color-orange-400);
    --color-warning-500: var(--color-orange-500);
    --color-warning-600: var(--color-orange-600);
    --color-warning-700: var(--color-orange-700);
    --color-warning-800: var(--color-orange-800);
    --color-warning-900: var(--color-orange-900);
    --color-warning-950: var(--color-orange-950);
    --color-warning-1000: var(--color-orange-1000);
    --outline-width-none: var(--scale-0);
    --outline-width-sm: var(--scale-25);
    --outline-width-md: var(--scale-50);
    --outline-width-lg: var(--scale-100);
    --corner-radius-none: var(--scale-0);
    --corner-radius-xxs: var(--scale-50);
    --corner-radius-xs: var(--scale-100);
    --corner-radius-sm: var(--scale-200);
    --corner-radius-md: var(--scale-300);
    --corner-radius-lg: var(--scale-400);
    --corner-radius-xl: var(--scale-600);
    --corner-radius-full: var(--scale-20000);
    --corner-radius-xxl: var(--scale-800);
    --corner-radius-lg-plus: var(--scale-500);
}
